body {
  margin: 0;
}

main {
  display: grid;
  height: 100vh;
  grid-gap: 10px;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 1fr);
  /* Implicit grid */
  grid-auto-rows: 1fr;
}

div {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: steelblue;
  color: white;
}
